<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Customer Communication Dashboard</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>
    table {
        border-collapse: collapse;
        width: 40%;
        margin-left: 380px;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #4CAF50;
        color: white;
    }
    </style>
 
</head>
 
<body>
 
    <div class="header" style="padding-left: 30px; padding-right: 30px; text-align: center">
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a>
                </li>
                <li role="presentation" class="active"><a href="showContacts">Contacts</a>
                </li>
                <li role="presentation"><a href="showHistory">Communication History</a>
                </li>
            </ul>
        </nav>
 
        <div class="jumbotron">
            <h2>Customer Communication Dashboard</h2>
        </div>

        <form action='viewHistory', methods='GET'>

        <table>
            <tr>
            
            <th>User ID</th>
            <th>Name</th>
            <th>Number</th>
            <th>Message Sent at</th>
            <th>OTP</th>
            
            </tr>

            {% for data in params.details %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                </tr>
            {% endfor %}
    
        </table> 
        </form>
    </div>
</body>
</html>   